@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@media (max-width: 500px) { 
    .signWidth{
        width:fit-content;
        padding-right:2.5rem ;
        padding-left:2.5rem ;
    }
    .signUpButton{
        padding-top:6px ;
        padding-bottom:6px ;
        padding-right:4px ;
        padding-left:4px ;
    }
    }